@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;   
}

#general {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    
}


/*estilos del menu izquierdo*/


#general .left_menu {
    width: 120px;
    background-color: #fff;
    height: 100%;
    box-shadow: 8px 0px 5px -4px rgba(0,0,0,0.18);
}


#general .left_menu img {
    width: 80%;
    height: auto; 
    padding-left: 10%;
    margin-top: 35%;
}


#general nav{
    margin-top: 200px;
    text-align: center;
}

#general ul {
    list-style: none;
    padding: 0%;
}

#general li {
    margin: 15px auto;
}

#general .left_menu i {
font-size: 40px;
height: 60px;
width: 60px;
color: #542F84;
transition: 0.5s;
}

#general .left_menu i:hover {
color: #BBA6D4;
transition: 0.5s;
}


#general .left_menu .exit {
    text-align: center;
    margin-top: 160px;
}

#general .left_menu .exit i{
    color: #7a7a7a;
    font-size: 40px;
    height: auto;
    width: 100%;
}

#general .left_menu .exit i:hover{
    color: #ec6969;
}



/*Estilos del menu lateral derecho*/

#general .rigth_menu {

    width: 200px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -10px 0px 5px -4px rgba(0,0,0,0.18);
}

#general .rigth_menu .perfil {
    text-align: center;

    margin-top: 100px;
}

#general .rigth_menu .perfil img {
    width: 100px;
    height: 100px;
    background-color: #BBA6D4;
    border-radius: 20px;

}

#general .rigth_menu .perfil p {
    font-weight: bold;
    font-size: 15px;
}

#general .rigth_menu .perfil span {
    font-size: 13px;
    color: rgb(85, 85, 85);
}

.div_separador {
    margin: 10px auto;
    width: 80%;
    border: 0.5px solid rgb(119, 118, 118);
}


.ultimas_t {
    margin: auto;
    width: 80%;
    height: auto;
}
.ultimas_t h2{
font-size: 15px;
}

/*Estilos generales del menu central modulo 2*/

.center_menu .registro_ingresos {
    width: 100%;
    margin-left: 10%;
    height: auto;
}

.center_menu .registro_ingresos form{
    margin: 0px;
}

/*Estilos generales del menu central modulo 3*/

.center_menu .add_category, .center_menu .update_category{
    width: 100%;
    margin-left: 10%;
    height: auto;
}
.center_menu h2{
    color: #818181;
    font-size: 22px;
    margin:2% 0%;
}

.center_menu select {
    height: 65px !important;
}

.center_menu .add_category form{
    margin: 0%;
}

/*Estilos generales del menu central modulo 4*/

#general .center_menu{
    width: calc(100% - 320px);
    height: 100%;
    background-color: #eae6ca;
}


.center_menu h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
    color: #542F84;

}

.center_menu .separador{
    border: 1px solid rgb(102, 101, 101);
    max-width: 80%;
    margin: 3% 10%;
    text-align: center;
}


.center_menu form, .center_menu table{
    max-width: 80%;
    margin-left: 10%;
    
}

.center_menu .icons_form {
    width: 50px;
    height: 50px;  
}

.center_menu label{
    color: #9f8bb9;
}

.submit {
    color: #542F84;
    width: 100%;
    height: 45px;
    border-radius: 10px;
}

.submit:hover{
    color: #d4c2ec;
    background-color: #542F84;
    transition: 0.5s;

}

.center_menu thead{
    background-color: #542F84;
    color: #ffffff;

}



